@media (max-width: 1200px) {
    #bg{
        position:fixed;
        z-index: -1;
        top:0;
        right:2%; 
    }

    .container_2{
        padding: 0;
    }

.modalDialog > div {
	width: 400px;
    top:30%;
    left:50%;
    position: absolute;
    margin: 15% auto;
/*    padding:  25px 15px 25px;*/
    border-radius: 8px;
    background-color: white;
    transform: translate(-50%, -50%);
}
    
.modalDialog2 > div {
	width: 400px;
    top:30%;
    left:50%;
    position: absolute;
    margin: 15% auto;
/*    padding: 5px 20px 13px 20px;*/
    border-radius: 8px;
    background-color: white;
    transform: translate(-50%, -50%);
}
.fs-title {
	font-size: 25px;
	color: #007FEA;
	margin-bottom: 10px;
    text-align: center;
}
.popup_2 a{
    text-decoration: none;                      
    text-align: center;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
    color: white;
}
    #msform h1{
        font-size: 25px;
    } 
    .info_2{ 
    width:40%;
}
    .infa_block h1{
        font-size: 30px
    }
    
       .spicok_ol h1{
        font-size: 30px
    }
}

@media (max-width: 992px) {

.spisok ol{
    line-height: 2;
    font-size: 20px;
}

.modalDialog > div {
	width: 400px;
    top:30%;
    left:50%;
    position: absolute;
    margin: 15% auto;
/*    padding: 5px 20px 13px 20px;*/
    border-radius: 8px;
    background-color: white;
    transform: translate(-50%, -50%);
}
    
    .modalDialog2 > div {
	width: 400px;
    top:30%;
    left:50%;
    position: absolute;
    margin: 15% auto;
/*    padding: 5px 20px 13px 20px;*/
    border-radius: 8px;
    background-color: white;
    transform: translate(-50%, -50%);
}
.spisok ol{
    list-style-position: inside;
    column-count: 2;
    list-style-type: decimal;
    padding: 0px;
    counter-reset: num;
    list-style-type: none; 
    font-size: 15px;
}
    .infa_block h1{
        font-size: 25px
    }
    .container_2{
        display: flex;
        flex-direction: column;
    }
    .spisok{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .text{
        width: 70%;
        margin-left: 2%;
        margin-top: 0;
        margin-bottom: 3%;
        font-size: 15px;
        line-height: 1.5;
    }
    
    .spicok_ol h1{
        font-size: 20px;
    }
    
    .text h2{
        font-size: 20px;
    }
    .forma{
        width: 60%;
        margin: auto;
    }
    
    .container_4{
        padding: 20px;
    }
    
    .inf_1 h1{
    font-size: 20px;
}
    
    .inf_2 h1{
    font-size: 20px;
    }

#text_footer_1{
    font-size:12px;
}

#text_footer_2{
    font-size:10px;
    line-height: 1.5;
}
        .container{
        padding: 20px;
    }
    .info_2{ 
    width:45%;
}
}

@media (max-width: 768px) {
    
    .header_inner{
        display: flex;
        flex-direction: column;
    }
    
    .head_img{
        margin:0;
    }
    
.modalDialog > div {
	width: 400px;
    top:30%;
    left:50%;
    position: absolute;
    margin: 15% auto;
/*    padding: 5px 20px 13px 20px;*/
    border-radius: 8px;
    background-color: white;
    transform: translate(-50%, -50%);
}
    
    .modalDialog2 > div {
	width: 400px;
    top:30%;
    left:50%;
    position: absolute;
    margin: 15% auto;
/*    padding: 5px 20px 13px 20px;*/
    border-radius: 8px;
    background-color: white;
    transform: translate(-50%, -50%);
}
    #bg{
        display: none;
    }
    .spisok{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .forma{
        margin: 0;
        width: 100%;
    }
    .container_4{
        display: flex;
        flex-direction: column;
    }
    .inf_1{
        width: 100%;
        margin-bottom: 20px
    }
    .inf_2{
        width: 100%;
        text-align: left;    
    }
    .popup_2 {
        font-size: 20px;
        width: 90%;
    }
    .infa h1{
        font-size: 20px;
    }
        .header_inner{
        margin-bottom: 10%;
    }
        #text_logo_1{
    font-size: 16px;
    margin-bottom: 0;
        margin-top: 0;
}    
    .container{
        padding: 20px;
    }
    
    #msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 8px;
	margin-bottom: 10px;
	color: #2C3E50;
	font-size: 14px;
}
select{
/*    padding: 15px;*/
	border: 1px solid #ccc;
	border-radius: 8px;
	margin-bottom: 10px;
	color: #2C3E50;
	font-size: 13px;
}
.info_2{ 
    width:80%;
}
}

@media (max-width: 480px) {
    .header_inner{
        display: flex;
        flex-direction: column;]
    }
    
    .head_img{
        margin:0;
    }
    .container{
        padding: 20px;
    }

    .header_inner{
        margin-bottom: 50px;
    }
    .container_3{
        padding: 20px;
    }
    .popup_2 {
        width: 90%;
    }
    #text_logo_1{
    font-size: 16px;
    margin-bottom: 0;
        margin-top: 0
}

#text_logo_2{
    color:#5B617C;
    font-size: 12px;
    margin-top: 0px;
}

.head_part_2{
    display: flex;
    flex-direction: column;
    height: 80px;
}
    
.info_2{ 
    width:80%;
}
    .modalDialog > div {
	width: 380px;
    top:30%;
    left:50%;
    position: absolute;
    margin: 15% auto;
/*    padding: 5px 20px 13px 20px;*/
    border-radius: 8px;
    background-color: white;
    transform: translate(-50%, -50%);
}
    
    .modalDialog2 > div {
	width: 380px;
    top:30%;
    left:50%;
    position: absolute;
    margin: 15% auto;
/*    padding: 5px 20px 13px 20px;*/
    border-radius: 8px;
    background-color: white;
    transform: translate(-50%, -50%);
}
.inf_1{
    margin-bottom: 20px;
}
    
}